[Desktop Entry]
Type=Application
Name=Postora
Comment=Enable common Fedora repositories, codecs, GPU acceleration, and Flathub
Exec=postora
Icon=io.github.mahbub_khan25.Postora
Terminal=false
Categories=Settings;PackageManager;
StartupNotify=true
