<?xml version="1.0" encoding="UTF-8"?>
<!-- Developed by mahbub khan <mahbub.aumi@gmail.com> -->
<!DOCTYPE policyconfig PUBLIC
 "-//freedesktop//DTD PolicyKit Policy Configuration 1.0//EN"
 "http://www.freedesktop.org/standards/PolicyKit/1/policyconfig.dtd">
<policyconfig>
  <vendor>Postora</vendor>
  <vendor_url>https://github.com/mahbub-khan25/Postora</vendor_url>
  <action id="io.github.mahbub_khan25.Postora.apply">
    <description>Apply Fedora post-install setup changes</description>
    <message>Authentication is required to install repositories, codecs, drivers, or Flatpak remotes.</message>
    <defaults>
      <allow_any>auth_admin</allow_any>
      <allow_inactive>auth_admin</allow_inactive>
      <allow_active>auth_admin</allow_active>
    </defaults>
    <annotate key="org.freedesktop.policykit.exec.path">/usr/libexec/postora-helper</annotate>
    <annotate key="org.freedesktop.policykit.exec.allow_gui">true</annotate>
  </action>
</policyconfig>
